

header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: aliceblue;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 600%;
   
}

.temperature img {
    width : 100%;
    height : 100%;
}

.previsions img {
    height: 30px;
    width: 30px;

}